<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orangeloginscreen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name=".AppInitialization">
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.moviedetails.MovieDetailsActivity"
            android:parentActivityName="com.example.orangeloginscreen.presentation.ui.listmovies.ListMoviesActivity" />
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.listusers.ListUsersActivity"
            android:parentActivityName="com.example.orangeloginscreen.presentation.ui.login.LoginActivity"/>
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.login.LoginActivity" />
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.listmovies.ListMoviesActivity" />
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.edituser.EditUserDataActivity"
            android:parentActivityName="com.example.orangeloginscreen.presentation.ui.listusers.ListUsersActivity"/>
        <activity
            android:name="com.example.orangeloginscreen.presentation.ui.createaccount.CreateAccountActivity"
            android:parentActivityName="com.example.orangeloginscreen.presentation.ui.login.LoginActivity"/>
    </application>

</manifest>